/* Reset and Basic Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    background: rgb(114, 156, 170);
    background-image: url('texture.png');
    background-size: cover;
    line-height: 1.6;
    padding: 20px;
}

/* Header Styles */
header {
    text-align: center;
    padding: 40px 0;
    background-color: #0192a8;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-bottom: 20px;
}

/* Section Styles */
section {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background: rgb(207, 245, 245);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007acc;
    margin-bottom: 10px;
}

h4 {
    color: #007acc;
    margin-bottom: 10px;
}


ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #bea9a9;
}

blockquote {
    font-style: italic;
    color: #555;
    margin: 10px 0;
}

#contact {
    text-align: center;
}

#contact p {
    margin: 5px 0;
    text-align:inherit;
}
